/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#000000;
	--color-background:#FFFFFF;
}

/****************/
/* JOUW STYLING */
/****************/

/* Jouw code */
body {
  font-family: Verdana, Arial, sans-serif;
  margin: 0;
}

h3{
  font-size: 1.3rem;
  color: #03679B;
  font-weight: normal;
}

a {
    text-decoration: none;
    color: black;
}

/* De waarschuwing */
header > section:first-child > p {
  background-color: red;
  color: white;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0.3em;
}

/* Het logo van de overheid */
header > section:nth-child(2) > h1 > img {
  max-width: 15%;
  height: auto;
}

/* Sectie met navigatiekaarten */
main > section:nth-of-type(2) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2em;
  background-color: #f9f9f9;
  padding: 1em;
}

/* Sectie met direct naar */
main > section:nth-of-type(3) > section{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* Sectie met nieuws */
main > section:nth-of-type(4) > section{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* Sectie met vragen en nieuwsbrief */
main > section:nth-of-type(5){
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}