/**************/
/* CSS REMEDY */
/**************/



*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing:border-box;  
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/source-sans-pro/SourceSansPro-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/source-sans-pro/SourceSansPro-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
  /* Light mode kleuren */
  --blauwe-text: #03679b;
  --blauwe-achtergrond: #03679b;
  --donkere-text: #02496d;
  --roze-text: #AE1667;
  --witte-text: #FFFFFF;
  --zwarte-text: #000000;
  --witte-achtergrond: #FFFFFF;
  --grijze-achtergrond: #F3F3F3;
  --rode-achtergrond:#D10000;
  --grijze-band: #CAD2E2;
  --button-lichtblauw: #D9E7F0;
  --button-donkerblauw: #2596be;
  --button-wit: #FFFFFF;
  --button-text-blauw: #1A5E84;
  --button-text-zwart: #000000; 
  --placeholder: #757575;
  --primary-font: 'Source Sans Pro', sans-serif;
  --font-size: 16px;
  --line-height: 1.5;
  font-size: 100%;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark mode kleuren */
    --blauwe-text: #AAD4EE;
    --blauwe-achtergrond: #064E75;
    --donkere-text: #D3DFE9;
    --roze-text: #F8BFDD;
    --witte-text: #F2F2F2;
    --zwarte-text: #F2F2F2;
    --grijze-band: #CAD2E2;
    --witte-achtergrond: #3B3B3B;
    --grijze-achtergrond: #3B3B3B;
    --rode-achtergrond: #A30000;
    --button-lichtblauw: #D9E7F0;
    --button-donkerblauw: #2596be;
    --button-wit: #bdbdbd;
    --button-text-blauw: #0E3349;
    --button-text-zwart: #000000; 
    --placeholder: #3B3B3B;
  }

  main section:nth-of-type(1) ul img{
    content:url("../images/licht-blauw-direct-naar.png");
  }

  main section:nth-of-type(3) h3 img{
  content:url("../images/pijl-rechts-boven-licht-blauw.png");
  }
}


@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/source-sans-pro/SourceSansPro-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/source-sans-pro/SourceSansPro-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

/****************/
/* STYLING */
/****************/

/* Algemeen */

a:focus, button:focus, a:focus article, input:focus {
  outline: 5px dashed var(--rode-achtergrond);
  outline-offset: 5px;
}

body{
  font-family: var(--primary-font);
  background-color: var(--witte-achtergrond);
}

.visually-hidden{
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}


/* Specifiek voor deze pagina */

/* Header */

/* Waarschuwingsbalk */
header section:nth-of-type(1){
  background-color: var(--rode-achtergrond);
  color: var(--witte-text);
  letter-spacing: 0.015em;
  font-weight: lighter;
  display: flex;
  justify-content: center;
  padding: 0.5em;
}

/* Rijkoverheidlogo */
header section:nth-of-type(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

header section:nth-of-type(2) img {
  order: 1;
  width: 2em;
}

header section:nth-of-type(2) h1 {
  font-family: 'Times New Roman', Times, serif;
  color: var(--zwarte-text);
  font-size: 0.5rem;
  font-weight: lighter;
  order: 2;
}




/* Navigatie */
header section:nth-of-type(3) {
  background-color: var(--blauwe-achtergrond);
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
  gap:1em;
  padding:1em;
  position:relative;
  z-index:1;
}

header section:nth-of-type(3) nav {
  position:absolute;
  left:-999em;
}

header section:nth-of-type(3) nav.open{
  position:static;
  width: 100%;
}


header section:nth-of-type(3) > a:first-of-type{
  color: var(--witte-text);
  text-decoration: none;
  font-size: 1.25rem;
}

header section:nth-of-type(3) ul a{
  color: var(--witte-text);
  text-decoration: none;
  font-size: 1rem;
}

header section:nth-of-type(3) > a:first-of-type:hover, header section:nth-of-type(3) ul a:hover{
  text-decoration: underline;
}

header section:nth-of-type(3) form {
  width:100%;
  display:flex;
}

header section:nth-of-type(3) form button {
  background-color: var(--button-wit);
}

header section:nth-of-type(3) form label {
  flex-grow:1;
}

header form input {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  color: var(--zwarte-textt);
  background-color: var(--button-wit);
}

input[type="search"]::placeholder {
  color: var(--placeholder);
}

header form button{
  padding: 0.25rem;
}

header form button img{
  width: 40%;
}

/* veel bekeken */

header section:nth-of-type(3) > button {
  background-color: transparent; 
  border: none; 
}

header section:nth-of-type(3) nav.open ul {
  list-style: none;
  gap: 1em; 
  display: flex;
  flex-direction: column;
  border-bottom: var(--witte-achtergrond) 1px solid;
  padding-bottom: 10px;
}

header section:nth-of-type(3) nav.open ul li{
  border-top: var(--witte-achtergrond) 1px solid;
  padding-top: 10px;
}

header section:nth-of-type(3) nav.open ul li:hover{
  text-decoration: underline;
  color: var(--witte-text);
}

header section:nth-of-type(3) > button:first-of-type img{
  width: 50%;
}

main section:nth-of-type(1) h2{
  color: var(--zwarte-text);
  font-size: 1.25rem;
  font-weight: lighter;
}

main section:nth-of-type(1) div {
  padding:1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: var(--witte-achtergrond);
}

main section:nth-of-type(1) ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

main section:nth-of-type(1) ul img{
  width: 4%;
}

main section:nth-of-type(1) ul a{
  font-size: 0.85rem;
  text-decoration: none;
  color: var(--blauwe-text);
}

main section:nth-of-type(1) ul a:hover{
  text-decoration: underline;
  color: var(--donkere-text);
}
/* Footer - Service/over deze site */
footer section:nth-child(-n+2){
  background-color: var(--blauwe-achtergrond);
  padding: 3%;
}

footer section:first-child{
  font-family: 'Times New Roman', Times, serif;
  color: var(--witte-text);
  font-size: 1.5rem;
  font-style: italic;
  padding-top: 2.5rem;
}

footer section:nth-of-type(2){
  display: grid;
  grid-template-columns: 1fr 1fr;
}

footer section:nth-of-type(2) h3{
  color: var(--witte-text);
  font-size: 1.25rem;
  text-decoration: none;
  font-weight: 500;
}

footer section:nth-of-type(2) ul{
  list-style: none;
  letter-spacing: 0.015em;
  font-size: 0.85rem;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

footer section:nth-of-type(2) a{
  text-decoration: none;
  color: var(--witte-text);
}

footer section:nth-of-type(2) img{
  width: 6%;
}

footer section:nth-of-type(2) a:hover{
  text-decoration: underline;
}

footer section:nth-of-type(2) a:active{
  outline: 2px dashed var(--zwarte-text);
}

/* Buttons */
footer section:last-child{
  padding: 3%;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

footer section:last-child p{
  font-size: 1rem;
  color: var(--zwarte-text);
}

footer section:last-child ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 0.5rem;
  padding-bottom: 1rem;
}

footer section:last-child button{
  border: 1px solid var(--button-text-blauw);
  color: var(--button-text-blauw);
  font-size: 1rem;
  padding: 0.75rem;
  background-color: var(--button-wit);
  text-align: center;
  cursor: pointer;
}

footer section:last-child button:hover, footer section:last-of-type li:first-of-type button:hover{
  color: var(--button-text-zwart);
  background-color: var(--button-donkerblauw);
}

footer section:last-of-type li:first-of-type button {
  background-color: var(--button-lichtblauw);
  font-weight: bold;
}
